<section class="about-hero">
  <div class="about-content">
    <h1 class="about-title">Sobre Mí</h1><br>
    <h2 >Info Principal</h2><br>
    <p class="about-text">
      ¡Hola! Soy <span class="highlight">Jerónimo Aguilar</span>, desarrollador web apasionado por el arte del código.  
      Me encanta crear interfaces que combinan estética, rendimiento y una buena experiencia de usuario.  
      Busco que cada proyecto tenga su propio brillo, como si formara parte de una leyenda.
    </p>

    <p class="about-text">
      Tengo experiencia en <strong>HTML</strong>, <strong>CSS</strong>, <strong>JS</strong>, <strong>PHP</strong> y <strong>Git</strong>,
      y estoy aprendiendo <strong>Java</strong>, <strong>Python</strong> y <strong>TS</strong>,
      además de un gran interés en diseño visual, animaciones y desarrollo de experiencias interactivas.
    </p><br>

    <h2>Hobbies</h2><br>

    <p class="about-text">
      Me encantan los videojuegos, se puede evidenciar con el solo diseño de la pagina, entre mis juegos favoritos estan <strong>GOW</strong>, <strong>DMC5</strong> y
      <strong>Hollow Knight</strong>, aunque decidi estilizar esta pagina con <strong>The Legend Of Zelda</strong> ya que me parecio un estilo bastante bonito.
    </p>

    <p class="about-text">
      Y los generos que mas me gustan son: <strong>Hack and Slash</strong>, <strong>Metroidvania</strong> y los <strong>Soulsborn</strong>.
    </p><br>

    <h2>Metas</h2><br>

    <p class="about-text">
      Quiero ser un gran programador, anhelando a dedicarme a codificar videojuegos, anhelo ganarme la beca por la cual estoy compitiendo en un semillero de la empresa Quipux
      , mi meta mas grande por el momento es esta, ganarme la beca, despues seguire mi proyecto de vida tal y como lo estoy planeando, ire a pasos gigantes y con la cabeza en alto siempre
      , asi es como lo hago yo.
    </p>
  
  </div>

  <div class="about-image">
    <img src="yo.jpeg" alt="Jerónimo Aguilar" />
  </div>
</section>
