<section class="projects-section">
  <div class="projects-header">
    <h1>Tesoros del Código</h1>
    <p>Cada proyecto es una reliquia obtenida en mi viaje por el reino del desarrollo.</p>
  </div>

  <div class="projects-image">
    <img src="ChestLink.jpg" alt="Link abriendo un cofre" />
  </div>

  <div class="projects-grid">
    <div class="project-card">
      <div class="chest">
        <div class="lid"></div>
        <div class="base"></div>
        <div class="light"></div>
        <a href="https://github.com/jeroaj123-ux/Asistente" target="_blank" class="chest-link">
          Ver en GitHub
        </a>
      </div>
      <h3>Proyecto 1: Asistente Virtual </h3>
    </div>

    <div class="project-card">
      <div class="chest">
        <div class="lid"></div>
        <div class="base"></div>
        <div class="light"></div>
        <a href="https://github.com/jeroaj123-ux/Trabajo-Portafolio-Quipux" target="_blank" class="chest-link">
          Ver en GitHub
        </a>
      </div>
      <h3>Proyecto 2: Primer Portafolio</h3>
    </div>

    <div class="project-card">
      <div class="chest">
        <div class="lid"></div>
        <div class="base"></div>
        <div class="light"></div>
        <a href="https://github.com/jeroaj123-ux/Colegio-Quipux" target="_blank" class="chest-link">
          Ver en GitHub
        </a>
      </div>
      <h3>Proyecto 3: Tarea Semillero: Colegio </h3>
    </div>
  

  <div class="project-card">
      <div class="chest">
        <div class="lid"></div>
        <div class="base"></div>
        <div class="light"></div>
        <a href="https://github.com/jeroaj123-ux/Backend_Spring" target="_blank" class="chest-link">
          Ver Backend
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/jeroaj123-ux/Frontend_Quipux" target="_blank" class="chest-link">
          Ver Frontend
        </a>
      </div>
      <h3>Proyecto 4: 1er Trabajo Frontend+Backend </h3>
    </div>
   </div>

  
</section>
