<section class="hero">
  <div class="hero-content">
    <h1 class="title">¡Bienvenido a mi Portafolio!</h1>
    <p class="subtitle">Desarrollador en Proceso, 16 años, Estudiante de Grado 11-2025</p>

    <div class="hero-buttons">
      <a routerLink="/about-me" class="btn-zelda">Sobre mí</a>
      <a routerLink="/works" class="btn-zelda-outline">Ver Proyectos</a>
    </div>
  </div>

  <div class="hero-image">
    <img src="trifuerza.com.png" alt="Trifuerza" />
  </div>
</section>

<section class="cards">
  <div class="card-zelda">
    <h3> Gustos</h3>
    <p>Apasionado por la programación, los videojuegos y el mundo digital.</p>
  </div>

  <div class="card-zelda">
    <h3> Estudio</h3>
    <p>Grado 11 en La Paz. Aprendiendo todo lo que puedo.</p>
  </div>

  <div class="card-zelda">
    <h3> Lenguajes en Proceso</h3>
    <p>HTML, JS, PHP, Java, Python, Git, TS, CSS.</p>
  </div>
</section>

<section class="stats">
  <div class="stat-box">
    <h2>8</h2>
    <p>Lenguajes</p>
  </div>


  <div class="stat-box">
    <h2>B2</h2>
    <p>Inglés</p>
  </div>

  <div class="stat-box">
    <h2>16</h2>
    <p>Años</p>
  </div>
</section>
